@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica-Bold", sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #5C5C5E;
}

.section-title {
  text-transform: uppercase;
  font-weight: 400;
}

.header, .footer {
  border-bottom: 1px solid #CACAD6;
}
.header .nav, .footer .nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 80px;
}
.header .menu, .footer .menu {
  display: flex;
  gap: 0 20px;
}
.header .logo, .footer .logo {
  justify-self: center;
}
.header .basket, .footer .basket {
  position: relative;
  justify-self: end;
}
.header .basket span, .footer .basket span {
  display: none;
}
.header .basket--active span, .footer .basket--active span {
  font-size: 11px;
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: -2px;
}

.top {
  min-height: calc(100vh - 81px);
  background-image: url(../img/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.top .title {
  padding-top: 16%;
  font-size: 96px;
  margin-bottom: 10px;
}
.top .subtitle {
  font-size: 36px;
  margin-bottom: 5px;
}
.top__text {
  font-size: 13px;
  margin-bottom: 50px;
}

.buy__text {
  padding-top: 6px;
  font-size: 13px;
}

.buy-btn {
  display: flex;
  padding: 0;
  cursor: pointer;
  border: none;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  text-transform: uppercase;
  padding: 1px;
}
.buy-btn__text {
  color: #F6F4F5;
  padding: 20px 110px;
}
.buy-btn__price {
  background-color: #F6F4F5;
  padding: 20px 105px;
}

.features {
  padding: 100px 0;
}
.features__titles {
  display: flex;
}
.features__title {
  flex-basis: 300px;
  padding-right: 20px;
}
.features__text {
  max-width: 330px;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 20px;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features .tabs {
  display: grid;
  grid-template-columns: 300px auto;
}
.features .tabs__btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.features .tabs__btn-item {
  font-weight: 700;
  margin-bottom: 20px;
}
.features .tabs__btn-item--active {
  color: #070707;
}
.features .tabs__content {
  position: relative;
  min-height: 300px;
}
.features .tabs__content-item {
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
}
.features .tabs__content-item--active {
  opacity: 1;
}
.features .tabs__content-box h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 5px;
}
.features .tabs__content-img {
  grid-row: 1/-1;
  align-self: stretch;
}
.features .tabs .video {
  width: 280px;
  height: 150px;
  background-image: url(../img/content-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 9px 10px;
  grid-column: 2/3;
}
.features .tabs .video span {
  font-size: 13px;
  color: #F6F4F5;
}
.features .tabs .video__btn {
  margin-left: 22px;
}

.games {
  margin-bottom: 100px;
}
.games__title {
  margin-bottom: 50px;
}
.games__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.games__descr {
  padding-right: 10px;
}
.games__descr-title {
  text-transform: uppercase;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  margin-bottom: 10px;
}
.games__descr-text {
  margin-bottom: 24px;
}
.games__link {
  display: inline-block;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 0;
  width: 225px;
  text-align: center;
  border: 1px solid var(--gradient, #BC10D8);
}
.games__item {
  border: 1px solid var(--gradient, #BC10D8);
  padding: 10px 15px 18px;
  display: flex;
  flex-direction: column;
}
.games__item-img {
  margin-bottom: 10px;
}
.games__item-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #070707;
}
.games__item-text {
  margin-bottom: 30px;
}
.games__item-link {
  margin-top: auto;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buy {
  position: relative;
  margin-bottom: 110px;
  text-align: center;
  overflow-x: hidden;
}
.buy__img {
  margin-bottom: 30px;
}
.buy-btn {
  margin: 0 auto;
}
.buy__bg {
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 400px;
  font-weight: 700;
  line-height: 400px;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
  animation: line-text 6s linear 1s infinite;
}
@keyframes line-text {
  from {
    transform: translateX(115%);
    transform-origin: left center;
  }
  to {
    transform: translateX(-115%);
    transform-origin: right center;
  }
}

.equipment {
  margin-bottom: 100px;
}
.equipment__title {
  margin-bottom: 50px;
}
.equipment__box {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;
}
.equipment__box-img {
  margin-bottom: 10px;
}
.equipment__box-title {
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
}
.equipment__box-item--one {
  grid-row: 1/-1;
}

.promo {
  margin-bottom: 100px;
  background-image: url(../img/promo-bg.jpg);
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.promo__btn {
  color: #fff;
  font-weight: 700;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93));
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.accessories {
  margin-bottom: 100px;
}
.accessories__title {
  margin-bottom: 30px;
}
.accessories__text {
  margin-bottom: 30px;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  text-transform: uppercase;
}
.accessories__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.accessories__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}
.accessories__item-img {
  margin-bottom: 10px;
}
.accessories__item-title {
  font-size: 24px;
  color: #070707;
  min-height: 67px;
}
.accessories__item-text {
  margin-bottom: 35px;
  margin-top: auto;
}
.accessories__item-price {
  font-weight: 2700;
  line-height: 18px;
  color: #070707;
  margin-bottom: 20px;
  margin-top: auto;
}
.accessories__item-btn {
  border: 1px solid;
  border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  padding: 6px;
  font-weight: 700;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100%;
}

.contacts {
  margin-bottom: 100px;
}
.contacts__title {
  font-size: 24px;
  line-height: 33px;
  color: #070707;
  margin-bottom: 10px;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.contacts__form {
  flex-basis: 600px;
}
.contacts__text {
  font-size: 13px;
}
.contacts .form {
  margin-bottom: 10px;
  position: relative;
}
.contacts .form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #CACAD6;
  padding: 22px 70px 22px 0;
}
.contacts .form__input::placeholder {
  color: var(--light-grey, #CACAD6);
  /* text 13 */
  font-family: Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts .form__btn {
  width: 50px;
  height: 50px;
  background-color: #CACAD6;
  text-transform: uppercase;
  font-weight: 700;
  color: #5C5C5E;
  border-radius: 50%;
  position: absolute;
  right: 0;
}

.footer {
  border-top: 1px solid #CACAD6;
  border-bottom: 1px solid #CACAD6;
  margin-bottom: 44px;
  padding: 30px 0;
}
.footer .social {
  display: flex;
  gap: 20px;
  justify-self: end;
}/*# sourceMappingURL=main.css.map */