.features{
    padding: 100px 0;

    &__titles{
        display: flex;
    }

    &__title{
        flex-basis: 300px;
        padding-right: 20px;
    }

    &__text{
        max-width: 330px;
        text-transform: uppercase;
        font-size: 36px;
        margin-bottom: 20px;
        background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .tabs{
        display: grid;
        grid-template-columns: 300px auto;

        &__btn{

            display: flex;
            flex-direction: column;
            align-items: flex-start;


            &-item{
                font-weight: 700;
                margin-bottom: 20px;

                &--active{
                    color: #070707;
                }
            }
        }

        &__content{
            position: relative;
            min-height: 300px;
            &-item{
                display: grid;
                grid-template-columns: auto 280px;
                grid-template-rows: auto 150px;
                gap: 40px;
                opacity: 0;
                position: absolute;
                transition: opacity .3s ease;

                &--active{
                    opacity: 1;
                }
            }

            &-box{
                h3{
                    font-weight: 400;
                    font-size: 24px;
                    margin-bottom: 5px;
                }
            }
            &-img{
                grid-row:1/-1 ;
                align-self: stretch;
                object-fit: cover;
            }
        }

        .video{
            width: 280px;
            height: 150px;
            background-image: url(../img/content-bg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: flex-start;
            padding: 9px 10px;

            grid-column: 2/3;

            span{
                font-size: 13px;
                color: #F6F4F5;
            }

            &__btn{
                margin-left: 22px;
            }
        }
    }

    
}

@media (max-width:992px){
    .features{


        .tabs{
            display: block;

            &__btn{
                display: block;
                column-count: 2;
                &-item{
                    display: block;
                }
            }
        }
    }
}


@media (max-width:568px){
    .features{
        
        &__titles{
            display: block;
        }

        .tabs{
            &__content-item{

                position: relative;
                display: block;
                height: 0;
                &--active{
                    height: auto;
                    
                }
            }

            .video{
                margin-top: 20px;
                width: auto;
                height: 250px;
            }
        }

        
    }
}

@media (max-width:420px){
    .features{

        &__text{
            font-size: 32px;
        }
        .tabs{
            display: block;

            &__btn{
                display: block;
                column-count: 1;
                
            }
        }
    }
}