.footer{
    border-top: 1px solid #CACAD6;
    border-bottom: 1px solid #CACAD6;
    margin-bottom: 44px;
    padding: 30px 0;

    .social{
        display: flex;
        gap: 20px;
        justify-self: end;
    }
}


@media (max-width:1140px){
    .footer{
        .nav{
            display: flex;
            justify-content: space-between;
        }    
        .menu{
            display: none;
            
        }
    }
}

@media (max-width:568px){
    .footer{
        .nav{
            flex-direction: column;
            height: auto;
        }   
        .social{
            order: -1;
            margin-bottom: 20px;
            gap: 30px;
        } 
        
    }
}