.top{
    min-height:calc(100vh - 81px);
    background-image:url(../img/top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    .title{
        padding-top: 16%;
        font-size: 96px;
        margin-bottom: 10px;
    }
    .subtitle{
        font-size: 36px;
        margin-bottom: 5px;
    }

    &__text{
        font-size: 13px;
        margin-bottom: 50px;
    }


    
}


.buy__text{
    padding-top: 6px;
    font-size: 13px;
}

.buy-btn{
    display: flex;
    padding: 0;
    cursor: pointer;
    border: none;
    background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
    text-transform: uppercase;
    padding: 1px;

    &__text{
        color: #F6F4F5;
        padding: 20px 110px;
    }

    &__price{
        background-color: #F6F4F5;
        padding: 20px 105px;
    }
}