@font-face {
    font-family: 'Helvetica',sans-serif;
    src: url(../fonts/helvetica.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica-Bold',sans-serif;
    src: url(../fonts/helvetica-bold.woff2);
    font-style: normal;
    font-weight: 700;
}


html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}


.container{
    max-width: 1220px;
    margin:0 auto;
    padding: 0 10px;
}

a{
    text-decoration: none;
    color: inherit
}

button{
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Helvetica',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #5C5C5E;
}

.section-title{
    text-transform: uppercase;
    font-weight: 400;
}

@import './_header';
@import './_top';
@import './_features';
@import './_games';
@import './_buy';
@import './_equipment';
@import './_promo';
@import './_accessories';
@import './_contacts';
@import './_footer';